.card img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding-left: 10px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.col-sm.card.hide {
  opacity: 0;
  transition: opacity 0.7s;
  pointer-events: none;
}

.row .mt-1 {
  margin-top: 0.25rem !important;
  margin-left: 15px;
}

.row .mt-2 {
  margin-top: 0.25rem !important;
  margin-left: 774px;
}

.score {
  margin: auto 0;
  padding-top: 20px;
  text-align: center;
}

button.btn.btn-primary {
  color: rgb(78, 61, 61);
  background-color: #a6f7d8;
  border-color: #f5f4f3;
}

element.style {
  width: 11rem;
  margin-left: 70px;
  margin-right: 452px;
}

.background {
  /* The image used */
  /* background-color: rgb(231, 231, 230); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .card-body {
  opacity: 2;
}
